<div class="fixed top-0 z-50 right-0 left-0 bg-[#9169f0] text-gray-800 lg:px-20 sm:px-5">
    <div class="h-16 items-center justify-between flex">
        <div class="flex items-center">
            <div class="mr-5">
                <img class="h-12 w-12 rounded-full"
                    src="https://img.freepik.com/premium-psd/shopping-cart-ecommerce-market-3d-icon_133840-7.jpg"
                    alt="EcoBazaar Logo">
            </div>

            <div>
                <div class="flex space-x-4">
                    <a class="text-green-800" routerLink="/">EcoBazaar</a>
                    <div>
                        <button (click)="openNavbarContent('men')" mat-button>Men</button>
                    </div>
                    <div>
                        <button (click)="openNavbarContent('women')" mat-button>Women</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex items-center">
            <button (click)="navigateTo('/cart')">
                <mat-icon>shopping_cart</mat-icon>
            </button>

            <button *ngIf="false" mat-raised-button color="accent">LOGIN</button>

            <div *ngIf="true" class="ml-3 flex items-center">
                <div class="flex items-center space-x-5">
                    <span class="font-bold text-lg">Rashmi</span>
                    <button mat-button [matMenuTriggerFor]="profileMenu">
                        <img class="h-10 w-8" src="https://cdn.pixabay.com/photo/2013/07/12/15/24/goaty-149860_1280.png" alt="avatar">
                    </button>
                    <mat-menu #profileMenu="matMenu">
                        <button mat-menu-item>Orders</button>
                        <button mat-menu-item>Profile</button>
                        <button mat-menu-item>Logout</button>
                      </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>


